<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <script src="https://use.typekit.net/xrd0jix.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link type="image/ico" href="images/favicon.ico" rel="icon" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Wanderlust" %></title>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
    <script src="./javascripts/all.js"></script>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
