---
title: Amsterdam Cars
layout: layout
---

<%= partial "partials/nav" %>

<div class="container margin-top">

	<div class="one-third left hide-until-large">
	<div class="form-column">
		<input type="button" value="Create price alert" class="button button--tertiary left" onclick="location.href='/flight-results.html';">
		<p><strong><a href="#" class="clean-link">Read about driving rules in The Netherlands</a></strong></p>

		<div class="full block">
			<select>
				<option value="lowest to highest">Sort results</option>
				<option value="lowest to highest">Price: Lowest to highest</option>
				<option value="lowest to highest">Price: Highest to lowest</option>
			</select>
		</div>

		<ul class="form-column__title"><strong>Price</strong>
			<div class="form-column__range-values hide-ms">
				<li><p class="form-column__label left">$116</p></li>
				<li><p class="form-column__label right">$344</p></li>
			</div>
			<input class="hide-ms" type="range" value=0><input class="hide-ms" type="range" value=100>
		</ul>

		<ul class="form-column__title"><strong>Pick-up</strong>
			<li><label class="form-column__label"><input type="checkbox">AMS: Schiphol</label></li>
			<li><label class="form-column__label"><input type="checkbox">Non-airport</label></li>
		</ul>

		<ul class="form-column__title"><strong>Zipcar</strong>
			<li><label class="form-column__label"><input type="checkbox" checked>Show Zipcar</label></li>
		</ul>

		<ul class="form-column__title"><strong>Distance from:</strong>
		<li><input type="text" name="distance" placeholder="Schiphol airport"></li>
			<div class="form-column__range-values">
				<li><p class="form-column__label left">1 mile</p></li>
				<li><p class="form-column__label right">20+ miles</p></li>
			</div>
			<input class="hide-ms" type="range" value=0><input class="hide-ms" type="range" value=100>
		</ul>

		<ul class="form-column__title"><strong>Capacity</strong>
			<ul class="form-column__subtitle"><p><strong>Passengers</strong></p>
				<li><label class="form-column__label"><input type="checkbox">1 - 2 passengers</label></li>
				<li><label class="form-column__label"><input type="checkbox">3 - 4 passengers</label></li>
				<li><label class="form-column__label"><input type="checkbox">6+ passengers</label></li>
			</ul>
		</ul>

		<ul class="form-column__title"><strong>Car Type</strong>
		<% ["Small", "Convertible", "Medium", "Large", "SUV", "Van", "Luxury"].each do |car| %>
				<li><label class="form-column__label"><input type="checkbox"><%= car %></label></li>
			<% end %>
		</ul>
		<ul class="form-column__title"><strong>Rental Agency</strong>
			<% ["Alamo", "Avis", "Budget", "Dollar", "Enterprise", "Eurocar", "Hertz", "Major", "National", "Sixt", "Thrifty"].each do |rental| %>
				<li><label class="form-column__label"><input type="checkbox"><%= rental %></label></li>
			<% end %>
		</ul>		

	</div>
	</div>

	<div class="full-to-two-thirds right">
		<div class="form-table--secondary">

			<div class="half-to-third">
				<label>Pick-up location</label>
	      		<input class="text--chosen" type="text" name="pick-up location" placeholder="AMS Schiphol">
	      <label>Return location</label>
	      		<input class="text--chosen" type="text" name="return location" placeholder="AMS Schiphol">
			</div>

			<div class="half-to-third">
       	<label>Pick-up date</label>
	       	<input type="text" id="datepicker" placeholder="11/19/2016">
				<label>Return date</label>
	       	<input type="text" id="datepicker2" placeholder="11/29/2016">

	    </div>

			<div class="quarter-to-hide">
				<label>Pick-up</label>
				<select name="pick-up time">
					<option value="12:00pm">12 pm</option>
				  <option value="1:00pm">1 pm</opn>
				  <option value="2:00pm">2 pm</option>
				  <option value="3:00pm">3 pm</option>
				  <option value="4:00pm">4 pm</option>
				  <option value="5:00pm">5 pm</option>
				</select>
			</div>
				
			<div class="quarter-to-hide">
				<label>Drop-off</label>
				<select name="return time">
					<option value="12:00pm">12 pm</option>
				  <option value="1:00pm">1 pm</option>
				  <option value="2:00pm">2 pm</option>
				  <option value="3:00pm">3 pm</option>
				  <option value="4:00pm">4 pm</option>
				  <option value="5:00pm">5 pm</option>
				</select>
			</div>

			<div class="hide-to-twelfth">
				<label>Pick-up</label>
				<select name="pick-up time">
					<option value="12:00pm">12 pm</option>
				  <option value="1:00pm">1 pm</option>
				  <option value="2:00pm">2 pm</option>
				  <option value="3:00pm">3 pm</option>
				  <option value="4:00pm">4 pm</option>
				  <option value="5:00pm">5 pm</option>
				</select>

				<label>Drop-off</label>
				<select name="return time">
					<option value="12:00pm">12 pm</option>
				  <option value="1:00pm">1 pm</option>
				  <option value="2:00pm">2 pm</option>
				  <option value="3:00pm">3 pm</option>
				  <option value="4:00pm">4 pm</option>
				  <option value="5:00pm">5 pm</option>
				</select>
			</div>		

			<div class="form-table__button">			
				<input type="button" value="Update" class="button button--secondary" onclick="location.href='/car-results.html';">
			</div>


	<div class="background--secondary">
		<form class="form--dropdown hide-on-large half-always">
	    <div class="multiselect hide-on-large">
	       <div class="selectBox" onclick="showCheckboxes()">
            <select>
              <option>Filter results</option>
            </select>
            <div class="overSelect hide-on-large"></div>
	       </div>
	       <div id="checkboxes">
	       		<p>Pick-up</p>
	       		<% ["AMS: Schiphol", "Non-airport"].each do |pickup| %>
								<label class="form-column__label"><input type="checkbox"><%= pickup %></label>
							<% end %>
						<p>Zipcar</p>
            	<label class="form-column__label" for="AMS"><input type="checkbox">Show Zipcar</label>
	       		<p>Capacity</p>
	            <% ["1 - 2 passengers", "3 - 5 passengers", "6 + passengers"].each do |capacity| %>
								<label class="form-column__label"><input type="checkbox"><%= capacity %></label>
							<% end %>
            <p>Car Type</p>
	            <% ["Small", "Convertible", "Medium", "Large", "SUV", "Van", "Luxury"].each do |car| %>
								<label class="form-column__label"><input type="checkbox"><%= car %></label>
							<% end %>

            <p>Rental Agency</p>
            	<% ["Alamo", "Avis", "Budget", "Dollar", "Enterprise", "Eurocar", "Hertz", "Major", "National", "Sixt", "Thrifty"].each do |rental| %>
            		<label class="form-column__label"><input type="checkbox"><%= rental %></label>
							<% end %>
	       </div>
	    </div>
		</form>

		<ul class="hide-on-large half-always drop-down">
				<li>
					<select>
						<option value="lowest to highest">Sort results</option>
						<option value="lowest to highest">Price: Lowest to highest</option>
						<option value="lowest to highest">Price: Highest to lowest</option>
					</select>
				</li>
			</ul>
	</div>
</div>

	<section class="card card--wide">
		<div class="corsa"></div>		
		<div class="clear-until-large">
				<ul class="ib">
					<li>
						<h2 class="lighter uppercase"><strong>Compact</strong></h2>
					</li>
					<li>
						<p class="card__detail">Corsa or similar</p>
					</li>
					<li>
						<p class="card__detail">Budget</p>
					</li>
					<li>
						<p class="card__detail">5 people, 4 doors</p>
					</li>
				</ul>
			<div class="right hide-until-large ">
				<ul class="right text-right">
					<li><h2 class="lighter"><strong>$116</strong></h2></li>
					<li class="card__detail">($11/day)</li>
					<li class="card__detail--fineprint"><strong>includes tax &amp; all fees</strong></li>
					<li class="margin-left"><input type="button" value="Book" class="button button--main " onclick="location.href='/flight-results.html';"></li>
				</ul>
			</div>			
		</div>
		<div class="hide-on-large clear">
			<ul>			
				<li class="card__detail">($11/day)</li>
				<li><h2 class="lighter"><strong>$116</strong></h2></li>
				<li class="card__detail--fineprint"><strong>includes tax &amp; all fees</strong></li>
				<li><input type="button" value="Book" class="button button--sm-screen" onclick="location.href='/flight-results.html';"></li>
			</ul>
		</div>		
	</section>

		<%=partial "partials/results-pages" %>

	</div>

	<%= partial "partials/footer" %>

</div>

<!-- JavaScript for Pikaday calendars -->
<script src="/javascripts/pikaday.js"></script>
<script>
new Pikaday({ field: document.getElementById('datepicker') });
new Pikaday({ field: document.getElementById('datepicker2') });
</script>
