---
title: Wanderlust
layout: layout
---

<%= partial "partials/nav" %>

<div class="container margin-top">

	<div class="one-third left hide-until-large">
		<section class="form-column">
			<input type="button" value="Create price alert" class="button button--tertiary left" onclick="location.href='/flight-results.html';">

			<div class="full block">
				<select>
					<option value="sort-results">Sort results</option>
					<option value="price-low-to-high">Price: Lowest to highest</option>
					<option value="price-high-to-low">Price: Highest to lowest</option>
					<option value="duration-short-to-long">Duration: shortest to longest</option>
					<option value="duration-long-to-short">Duration: longest to shortest</option>
					<option value="takeoff-early-to-late">Takeoff: earliest to latest</option>
					<option value="takeoff-late-to-early">Takeoff: latest to earliest</option>
				</select>
			</div>
				
			<ul class="form-column__title"><strong><p class="hide-ms">Price</strong>
				<div class="form-column__range-values hide-ms">
					<li><p class="form-column__label left">$955</p></li>
					<li><p class="form-column__label right">$1944</p></li>
				</div>
				<input class="hide-ms" type="range" value=0><input class="hide-ms" type="range" value=100>
			</ul>

			<ul class="form-column__title"><strong>View flights by:</strong>
				<li><label class="form-column__label"><input type="checkbox">roundtrip</label></li>
				<li><label class="form-column__label"><input type="checkbox">flight-by-flight</label></li>
			</ul>

			<ul class="form-column__title"><strong>Stops</strong>
				<li><label class="form-column__label"><input type="checkbox">nonstop</label></li>
				<li><label class="form-column__label"><input type="checkbox">1 stop</label></li>
				<li><label class="form-column__label"><input type="checkbox">2+ stops</label></li>
			</ul>

			<ul class="form-column__title hide-ms"><p><strong>Times</strong></p>
				<li><p class="form-column__subtitle hide-ms">Take-off: Chicago</p></li>
				<li><p class="form-column__label">Friday 5:30am - 10:00pm</p></li>
				<li><input type="range" value=0><input type="range" value=100></li>
			
				<li><p class="form-column__subtitle">Take-off: Amsterdam</p></li>
				<li><p class="form-column__label">Friday 5:30am - 10:00pm</p></li>
				<li><input type="range" value=0><input type="range" value=100></li>

				<li><p class="form-column__subtitle">Show landing times</p></li>
			</ul>

			<ul class="form-column__title"><strong>Airports</strong>
				<ul class="form-column__subtitle"><p><strong>Chicago</strong></p>
					<li><label class="form-column__label"><input type="checkbox">ORD: O'Hare International</label></li>
					<li><label class="form-column__label"><input type="checkbox">MDW: Midway</label></li>
				</ul>
				<ul class="form-column__subtitle"><p><strong>Amsterdam</strong></p>
					<li><label class="form-column__label"><input type="checkbox">AMS: Schiphol Airport</label></li>
				</ul>
			</ul>

			<ul class="form-column__title"><strong>Airlines</strong>
				<li>
					<% ["Aer Lingus", "Aeromexico", "Air Canada", "Air Europe", "Air France", "Alitalia", "American Airlines", "ANA", "Australian Airlines", "British Airways", "Cathay Pacific", "Copa Airlines", "Delta", "Emirates", "Etihad Airways", "EVA Air", "Finnair", "Iberia", "Jet Airways", "KLM", "LOT Polish Airlines", "SWISS", "United"].each do |airline| %>
						<label class="form-column__label"><input type="checkbox"><%= airline %></label>
					<% end %>
				</li>
			</ul>
		</section>

	<%= partial "partials/calendar" %>

	</div>

	<div class="full-to-two-thirds right">
		<div class="form-table--secondary">

			<div class="half-to-third">
				<label>From</label>
	      		<input type="text" name="from" placeholder="Chicago ORD">
	      <label>Departing</label>
	       	<input type="text" id="datepicker0" placeholder="11/19/2016">
			</div>

			<div class="half-to-third">
       	<label class="block">To</label>
      		<input type="text" name="to" placeholder="Amsterdam ORS">
				<label>Returning</label>
	        <input type="text" id="datepicker01" placeholder="11/29/2016">
	    </div>

			<div class="quarter-to-hide">
				<label>Adults</label>
				<select name="Adults">
					<option value="more filters selected">1 Adult</option>
				  <option value="volvo">2 Adults</option>
				  <option value="saab">3 Adults</option>
				  <option value="fiat">4 Adults</option>
				</select>
			</div>
				
			<div class="quarter-to-hide">
				<label>Kids</label>
				<select name="Kids">
					<option value="more filters selected">0 Kids</option>
				  <option value="volvo">2 Kids</option>
				  <option value="saab">3 Kids</option>
				  <option value="fiat">4 Kids</option>
				</select>
			</div>

			<div class="hide-to-twelfth">
				<label>Adults</label>
				<select name="Adults">
					<option value="more filters selected">1 Adult</option>
				  <option value="volvo">2 Adults</option>
				  <option value="saab">3 Adults</option>
				  <option value="fiat">4 Adults</option>
				</select>

				<label>Kids</label>
				<select name="Kids">
					<option value="more filters selected">0 Kids</option>
				  <option value="volvo">2 Kids</option>
				  <option value="saab">3 Kids</option>
				  <option value="fiat">4 Kids</option>
				</select>
			</div>
			
			<div class="form-table__button">
				<input type="button" value="Update" class="button button--secondary" onclick="location.href='/flight-results.html';">
			</div>
	
		<div class="background--secondary">
			<form class="form--dropdown hide-on-large half-always">
		    <div class="multiselect hide-on-large">
		        <div class="selectBox" onclick="showCheckboxes()">
	            <select>
	              <option>Filter results</option>
	            </select>
	            <div class="overSelect hide-on-large"></div>
		        </div>
		        <ul id="checkboxes">
		       		<li>
		       			<p>View flights by:</p>
		       			<% ["roundtrip", "flight-by-flight"].each do |flights| %>
									<label class="form-column__label"><input type="checkbox"><%= flights %></label>
								<% end %>
							</li>
							<li>
		       			<p>Stops</p>
		            <% ["nonstop", "1 stop", "2+ stops"].each do |stops| %>
									<label class="form-column__label"><input type="checkbox"><%= stops %></label>
								<% end %>
							</li>
							<li>
	            	<p>Airports: Chicago</p>
		            <% ["ORD: O'Hare", "MDW: Midway"].each do |airport| %>
									<label class="form-column__label"><input type="checkbox"><%= airport %></label>
								<% end %>
							</li>
							<li>
	            	<p>Airports: Amsterdam</p>
	            	<label class="form-column__label" for="AMS"><input type="checkbox">AMS: Schiphol Airport</label>
	            </li>
	            <li>
	            	<p>Airlines</p>
	            	<% ["Aer Lingus", "Aeromexico", "Air Canada", "Air Europe", "Air France", "Alitalia", "American Airlines", "ANA", "Australian Airlines", "British Airways", "Cathay Pacific", "Copa Airlines", "Delta", "Emirates", "Etihad Airways", "EVA Air", "Finnair", "Iberia", "Jet Airways", "KLM", "LOT Polish Airlines", "SWISS", "United"].each do |airline| %>
									<label class="form-column__label"><input type="checkbox"><%= airline %></label>
								<% end %>
		        </ul>
		    </div>
			</form>

			<div class="hide-on-large half-always drop-down">
				<select>
					<option value="sort-results">Sort results</option>
					<option value="price-low-to-high">Price: Lowest to highest</option>
					<option value="price-high-to-low">Price: Highest to lowest</option>
					<option value="duration-short-to-long">Duration: shortest to longest</option>
					<option value="duration-long-to-short">Duration: longest to shortest</option>
					<option value="takeoff-early-to-late">Takeoff: earliest to latest</option>
					<option value="takeoff-late-to-early">Takeoff: latest to earliest</option>
				</select>
			</div>
		</div>
		</div>

		<section class="card card--wide">
			<ul>				
				<li class="card__detail--emphasized"><strong>9:55am ORD - 11:59 AMS</strong></li>
				<li class="card__detail">8h 04m</li>
				<li class="card__detail"><strong>1 stop TXL 45m</strong></li>			
			</ul>		
			<p class="card__detail--emphasized">Royal Dutch Airlines</p>	
			<ul class="text-right hide-until-large right">
				<li class="hide-ms"><h2 class="lighter"><strong>$955</strong></h2></li>
				<li class="hide-ms">Economy</li>
				<li class="card__detail--fineprint hide-ms"><strong>includes tax &amp; all fees</strong></li>
				<li class="margin-left"><input type="button" value="Book" class="button button--main " onclick="location.href='/flight-results.html';"></li>
			</ul>		
			<ul>
				<li class="card__detail--emphasized"><strong>9:55am ORD - 11:59 ORD</strong></li>
				<li class="card__detail">8h 04m</li>
				<li class="card__detail"><strong>nonstop</strong></li>
			</ul>		
			<p class="card__detail--emphasized">British Airways</p>				
			<ul>
				<li class="card__detail"><strong>included:</strong></li>
				<li class="card__detail"><strong>1 free carry-on</strong></li>
				<li class="card__detail"><strong>1 checked bag</strong></li>
				<li class="underline "><a class="clean-link" href="#">view all details</a></li>
			</ul>		
			<ul class="hide-on-large">							
				<li class="card__detail">Economy</li>
				<li><h2 class="lighter"><strong>$955</strong></h2></li>
				<li class="card__detail--fineprint"><strong>includes tax &amp; all fees</strong></li>			
			</ul>
			<input type="button" value="Book" class="button button--sm-screen" onclick="location.href='/flight-results.html';">
		</section>

		<section class="card card--wide">
			<ul>				
				<li class="card__detail--emphasized"><strong>9:55am ORD - 11:59 AMS</strong></li>
				<li class="card__detail">8h 04m</li>
				<li class="card__detail"><strong>1 stop TXL 45m</strong></li>			
			</ul>		
			<p class="card__detail--emphasized">Royal Dutch Airlines</p>	
			<ul class="text-right hide-until-large right">
				<li class="hide-ms"><h2 class="lighter"><strong>$955</strong></h2></li>
				<li class="hide-ms">Economy</li>
				<li class="card__detail--fineprint hide-ms"><strong>includes tax &amp; all fees</strong></li>
				<li class="margin-left"><input type="button" value="Book" class="button button--main " onclick="location.href='/flight-results.html';"></li>
			</ul>		
			<ul>
				<li class="card__detail--emphasized"><strong>9:55am ORD - 11:59 ORD</strong></li>
				<li class="card__detail">8h 04m</li>
				<li class="card__detail"><strong>nonstop</strong></li>
			</ul>		
			<p class="card__detail--emphasized">British Airways</p>				
			<ul>
				<li class="card__detail"><strong>included:</strong></li>
				<li class="card__detail"><strong>1 free carry-on</strong></li>
				<li class="card__detail"><strong>1 checked bag</strong></li>
				<li class="underline "><a class="clean-link" href="#">view all details</a></li>
			</ul>		
			<ul class="hide-on-large">							
				<li class="card__detail">Economy</li>
				<li><h2 class="lighter"><strong>$955</strong></h2></li>
				<li class="card__detail--fineprint"><strong>includes tax &amp; all fees</strong></li>			
			</ul>
			<input type="button" value="Book" class="button button--sm-screen" onclick="location.href='/flight-results.html';">
		</section>

		<section class="card card--wide">
			<ul>				
				<li class="card__detail--emphasized"><strong>9:55am ORD - 11:59 AMS</strong></li>
				<li class="card__detail">8h 04m</li>
				<li class="card__detail"><strong>1 stop TXL 45m</strong></li>			
			</ul>		
			<p class="card__detail--emphasized">Royal Dutch Airlines</p>	
			<ul class="text-right hide-until-large right">
				<li class="hide-ms"><h2 class="lighter"><strong>$955</strong></h2></li>
				<li class="hide-ms">Economy</li>
				<li class="card__detail--fineprint hide-ms"><strong>includes tax &amp; all fees</strong></li>
				<li class="margin-left"><input type="button" value="Book" class="button button--main " onclick="location.href='/flight-results.html';"></li>
			</ul>		
			<ul>
				<li class="card__detail--emphasized"><strong>9:55am ORD - 11:59 ORD</strong></li>
				<li class="card__detail">8h 04m</li>
				<li class="card__detail"><strong>nonstop</strong></li>
			</ul>		
			<p class="card__detail--emphasized">British Airways</p>				
			<ul>
				<li class="card__detail"><strong>included:</strong></li>
				<li class="card__detail"><strong>1 free carry-on</strong></li>
				<li class="card__detail"><strong>1 checked bag</strong></li>
				<li class="underline "><a class="clean-link" href="#">view all details</a></li>
			</ul>		
			<ul class="hide-on-large">							
				<li class="card__detail">Economy</li>
				<li><h2 class="lighter"><strong>$955</strong></h2></li>
				<li class="card__detail--fineprint"><strong>includes tax &amp; all fees</strong></li>			
			</ul>
			<input type="button" value="Book" class="button button--sm-screen" onclick="location.href='/flight-results.html';">
		</section>

		<section class="card card--wide">
			<ul>				
				<li class="card__detail--emphasized"><strong>9:55am ORD - 11:59 AMS</strong></li>
				<li class="card__detail">8h 04m</li>
				<li class="card__detail"><strong>1 stop TXL 45m</strong></li>			
			</ul>		
			<p class="card__detail--emphasized">Royal Dutch Airlines</p>	
			<ul class="text-right hide-until-large right">
				<li class="hide-ms"><h2 class="lighter"><strong>$955</strong></h2></li>
				<li class="hide-ms">Economy</li>
				<li class="card__detail--fineprint hide-ms"><strong>includes tax &amp; all fees</strong></li>
				<li class="margin-left"><input type="button" value="Book" class="button button--main " onclick="location.href='/flight-results.html';"></li>
			</ul>		
			<ul>
				<li class="card__detail--emphasized"><strong>9:55am ORD - 11:59 ORD</strong></li>
				<li class="card__detail">8h 04m</li>
				<li class="card__detail"><strong>nonstop</strong></li>
			</ul>		
			<p class="card__detail--emphasized">British Airways</p>				
			<ul>
				<li class="card__detail"><strong>included:</strong></li>
				<li class="card__detail"><strong>1 free carry-on</strong></li>
				<li class="card__detail"><strong>1 checked bag</strong></li>
				<li class="underline "><a class="clean-link" href="#">view all details</a></li>
			</ul>		
			<ul class="hide-on-large">							
				<li class="card__detail">Economy</li>
				<li><h2 class="lighter"><strong>$955</strong></h2></li>
				<li class="card__detail--fineprint"><strong>includes tax &amp; all fees</strong></li>			
			</ul>
			<input type="button" value="Book" class="button button--sm-screen" onclick="location.href='/flight-results.html';">
		</section>

		<section class="card card--wide">
			<ul>				
				<li class="card__detail--emphasized"><strong>9:55am ORD - 11:59 AMS</strong></li>
				<li class="card__detail">8h 04m</li>
				<li class="card__detail"><strong>1 stop TXL 45m</strong></li>			
			</ul>		
			<p class="card__detail--emphasized">Royal Dutch Airlines</p>	
			<ul class="text-right hide-until-large right">
				<li class="hide-ms"><h2 class="lighter"><strong>$955</strong></h2></li>
				<li class="hide-ms">Economy</li>
				<li class="card__detail--fineprint hide-ms"><strong>includes tax &amp; all fees</strong></li>
				<li class="margin-left"><input type="button" value="Book" class="button button--main " onclick="location.href='/flight-results.html';"></li>
			</ul>		
			<ul>
				<li class="card__detail--emphasized"><strong>9:55am ORD - 11:59 ORD</strong></li>
				<li class="card__detail">8h 04m</li>
				<li class="card__detail"><strong>nonstop</strong></li>
			</ul>		
			<p class="card__detail--emphasized">British Airways</p>				
			<ul>
				<li class="card__detail"><strong>included:</strong></li>
				<li class="card__detail"><strong>1 free carry-on</strong></li>
				<li class="card__detail"><strong>1 checked bag</strong></li>
				<li class="underline "><a class="clean-link" href="#">view all details</a></li>
			</ul>		
			<ul class="hide-on-large">							
				<li class="card__detail">Economy</li>
				<li><h2 class="lighter"><strong>$955</strong></h2></li>
				<li class="card__detail--fineprint"><strong>includes tax &amp; all fees</strong></li>			
			</ul>
			<input type="button" value="Book" class="button button--sm-screen" onclick="location.href='/flight-results.html';">
		</section>

		<%=partial "partials/results-pages" %>

		<p class="right text-right half clear hide-on-large margin-top">Flexible dates? Check out our <a href="#" class="">price tracking calendar</a> to find the cheapest flights.</p>

	</div>

	<%= partial "partials/footer" %>

</div>

<!-- JavaScript for Pikaday calendars -->
<script src="/javascripts/pikaday.js"></script>
<script>
new Pikaday({ field: document.getElementById('datepicker0') });
new Pikaday({ field: document.getElementById('datepicker01') });
</script>